*{
  margin: 0; 
  padding: 0;
}

.header{
  background-color: blue;
  font-size: 30px; 
  height: 100px;
  color: white;
}

/* Small desktop */

@media(max-width:1439px){
  .header{
    background-color: darkorange;
  }
} 


@media(max-width:1239px){
  .header{
    background-color:green;
  }
} 


@media(max-width:767px){
  .header{
    background-color: rebeccapurple;
  }
} 
 

@media(max-width:374px){
  .header{
    background-color: yellow;
  }
} 
