*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Poppins' sans-serif;
}

:root{
    --primary-color:#4f46e5;
    --secondary-color:#4338ca;
    --text-color:#1f2937;
    --gradient-start:#4f46e5;
    --gradient-end:#7c3aed; 
    --light-color:#f3f4f6;
} 
/* nav */
.navbar{
    position: fixed;
    width: 100%; 
    padding: 1rem 2rem;
    background: rgba(255, 255, 255, 0.95); 
    z-index: 1000;
} 

.nav-content{
    max-width: 1200px; 
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.logo{
    font-size: 1.5rem;
    font-weight: bold; 
    color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo i{
    font-size: 1.3rem;
}

.nav-links{
    display: flex;
    gap: 2rem;
} 

.nav-links a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size:0.95rem;
    padding: 0.5rem 0;

} 

.nav-links a i{
    font-size: 1.1rem;  
}

.nav-links a:hover{
    color: var(--primary-color);
} 

.menu-btn{
    background-color: none;
    border: none; 
    font-size: 1.5rem;
    color: var(--text-color); 
    display: none;
}


/* Header */


.header{
    min-height: 100vh;
    display: flex;
    align-items: center; 
    padding: 0 2rem;
    background: linear-gradient(135deg,
    rgba(79,70,299,0.9) 0%,
    rgba(124,58,237,0.85) 100% 
    ),url('https://cdn.pixabay.com/photo/2015/12/04/14/05/code-1076536_640.jpg');
    background-size: cover; 
    background-position: center;
    color: white;
    position: relative;
} 

.header-content{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.header-text h1{
    font-size: 3.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
} 

.header-text p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
} 

.cta-btn{
    display: inline-block;
    padding: 1rem 2rem;
    background: linear-gradient(to right, var(--gradient-start),var(--gradient-end));
    color: white;
    text-decoration: none;
    border-radius: 2.5rem; 
    transition: all 0.3s ease; 
    font-weight: 500;
    padding: 1rem 2.5rem;
} 

.cta-btn:hover{
    transform: translateY(-2px);
        background: linear-gradient(to right, var(--gradient-end),var(--gradient-start));
} 

/* About me */


.about{
    padding: 6rem 2rem; 
    background: white;
}

.about-content{
    max-width: 1200px; 
    margin: 0 auto; 
    display: flex;
    gap: 4rem; 
    align-items: center;
} 

.profile-img{
    flex: 1;
    align-items: center;
}

.profile-img img{
    max-width: 400px;
    border-radius: 1rem;
    box-shadow: 0 6px rgba(0, 0, 0, 0.1);
}

.about-text{
    flex: 1;
} 

.section-title{
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 1.5rem;
    font-weight: 700;
    background: linear-gradient(to right, 
    var(--gradient-start),
    var(--gradient-end)
    );
    display: inline-block; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* My Skills */


.skills{
    padding: 6rem 2rem; 
    background: var(--light-color);
} 

.skills-content{
    max-width: 1200px;
    margin: 0 auto;
} 

.skills-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem; 
    margin-top: 3rem;
} 

.skill-card{
    flex: 1; 
    min-width: 250px; 
    background: white;
    padding: 2rem;
    border-radius: 0.5rem; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    align-items: center;
} 

.skill-card i{
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
} 


/* Works */

.works{
    padding: 6rem 2rem;
    background: white;
}

.works-content{
    max-width: 1200px;
    margin: 0 auto;
}

.works-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem; 
    margin-bottom: 3rem;
}

.works-card{
    flex: 1;
    min-width: 300px;
    background: var(--light-color);
    border-radius: 0.5rem; 
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.works-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
} 

.works-card img{
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.work-info{
    padding: 1.5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.work-info h3{
    margin-bottom: 0.5rem;
}

.work-links { 
    
    margin-top: 1rem;
}

.work-links a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.2rem;
}
